In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

pd.options.display.max_columns=None

In [2]:
df = pd.read_csv("../archivos_editados/df_data.csv",index_col=0)
df.shape

(3269, 22)

In [3]:
df.reset_index(drop= True, inplace= True)

In [4]:
df.head(3)

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2
0,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,1-2 years,Energy/Mining,"1000-9,999 employees",We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN
1,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,I do not use machine learning methods,Manufacturing/Fabrication,250-999 employees,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN
2,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-5 years,R,I do not use machine learning methods,Non-profit/Service,0-49 employees,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN

In [5]:
df["tiempo_cod"].unique()

array(['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years',
       'I have never written code', '10-20 years'], dtype=object)

In [6]:
condiciones1 = [(df['tiempo_cod'] == 'I have never written code'),
                (df['tiempo_cod'] == '< 1 years') | (df['tiempo_cod'] == '1-3 years'),
                (df['tiempo_cod'] == '3-5 years') | (df['tiempo_cod'] == '5-10 years'),
                (df['tiempo_cod'] == '10-20 years') | (df['tiempo_cod'] == '20+ years')]

In [7]:
opciones1 = ['0', '1-3', '3-10', "+10"]

In [8]:
df["tiempo_cod"] = np.select(condiciones1, opciones1)

In [9]:
df["tamaño_empresa"].unique()

array(['1000-9,999 employees', '250-999 employees', '0-49 employees',
       '50-249 employees', '10,000 or more employees', nan], dtype=object)

In [10]:
condiciones2 = [df['tamaño_empresa'] == '0-49 employees',
                df['tamaño_empresa'] == '50-249 employees',
                df['tamaño_empresa'] == '250-999 employees',
                (df['tamaño_empresa'] == '1000-9,999 employees') |(df['tamaño_empresa'] == '10,000 or more employees')]

opciones2 = ['Pequeña', 'Mediana', 'Grande', 'Enorme']

In [11]:
df["tamaño_empresa"] = np.select(condiciones2, opciones2, default = "Unkown")

In [12]:
df["salario"] = df["salario"].str.replace('$', '')
df["salario"] = df["salario"].str.replace('>', '')

/tmp/ipykernel_5106/142644937.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["salario"] = df["salario"].str.replace('$', '')

In [13]:
df['salario'].unique()

array(['2,000-2,999', nan, '7,500-9,999', '0-999', '25,000-29,999',
       '60,000-69,999', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '125,000-149,999', '5,000-7,499', '70,000-79,999', '10,000-14,999',
       '30,000-39,999', '15,000-19,999', '3,000-3,999', '4,000-4,999',
       '40,000-49,999', '200,000-249,999', '80,000-89,999',
       '50,000-59,999', '150,000-199,999', '90,000-99,999',
       '250,000-299,999', '1,000,000', '300,000-499,999',
       '500,000-999,999'], dtype=object)

In [14]:
df[['salario_minimo','salario_maximo']] = df['salario'].str.split('-', expand=True, n=1)

In [15]:
df["salario_minimo"] = df["salario_minimo"].str.replace(',', '')
df["salario_maximo"] = df["salario_maximo"].str.replace(',', '')

In [18]:
df["salario_maximo"].unique()

array(['2999', nan, '9999', '999', '29999', '69999', '24999', '1999',
       '124999', '149999', '7499', '79999', '14999', '39999', '19999',
       '3999', '4999', '49999', '249999', '89999', '59999', '199999',
       '99999', '299999', None, '499999', '999999'], dtype=object)

In [19]:
def limpieza (columna):
    try:
        return int(columna)
    except:
        return np.nan

In [20]:
df['salario_minimo'] = df['salario_minimo'].apply(limpieza)

In [25]:
df['salario_maximo'] = df['salario_maximo'].apply(limpieza)

In [21]:
df.head()

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2,salario_minimo,salario_maximo
0,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,+10,Python,1-2 years,Energy/Mining,Enorme,We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,2000.0,2999
1,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,1-3,R,I do not use machine learning methods,Manufacturing/Fabrication,Grande,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN
2,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-10,R,I do not use machine learning methods,Non-profit/Service,Pequeña,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN,7500.0,9999
3,22-24,Man,China,Some college/university study without earning ...,Data Analyst,1-3,Python,1-2 years,Computers/Technology,Pequeña,No (we do not use ML methods),0-999,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,0.0,999
4,40-44,Man,South Africa,Master’s degree,Data Analyst,1-3,R,1-2 years,Manufacturing/Fabrication,Grande,No (we do not use ML methods),"25,000-29,999",NaN,Microsoft Power BI,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook","Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny","Caret ,Tidymodels","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,25000.0,29999

In [27]:
df['media_salario'] = (df['salario_minimo'] + df['salario_maximo']) / 2

In [44]:
df['media_salario'] = round(df['media_salario'], 2)

In [42]:
df.head()

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2,salario_minimo,salario_maximo,media_salario
0,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,+10,Python,1-2 years,Energy/Mining,Enorme,We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,2000.0,2999.0,2499.5
1,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,1-3,R,I do not use machine learning methods,Manufacturing/Fabrication,Grande,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-10,R,I do not use machine learning methods,Non-profit/Service,Pequeña,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN,7500.0,9999.0,8749.5
3,22-24,Man,China,Some college/university study without earning ...,Data Analyst,1-3,Python,1-2 years,Computers/Technology,Pequeña,No (we do not use ML methods),0-999,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,0.0,999.0,499.5
4,40-44,Man,South Africa,Master’s degree,Data Analyst,1-3,R,1-2 years,Manufacturing/Fabrication,Grande,No (we do not use ML methods),"25,000-29,999",NaN,Microsoft Power BI,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook","Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny","Caret ,Tidymodels","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,25000.0,29999.0,27499.5

In [37]:
df['salario_minimo'].unique()

array([   2000.,      nan,    7500.,       0.,   25000.,   60000.,
         20000.,    1000.,  100000.,  125000.,    5000.,   70000.,
         10000.,   30000.,   15000.,    3000.,    4000.,   40000.,
        200000.,   80000.,   50000.,  150000.,   90000.,  250000.,
       1000000.,  300000.,  500000.])

In [46]:
df['media_salario'].value_counts()

499.5       679
1499.5      243
12499.5     207
6249.5      158
8749.5      140
34999.5     135
44999.5     125
54999.5     119
2499.5      117
17499.5     116
22499.5     113
64999.5     109
112499.5    108
4499.5      102
74999.5      92
3499.5       91
27499.5      83
84999.5      68
94999.5      46
137499.5     32
174999.5     17
224999.5      9
274999.5      5
399999.5      3
749999.5      1
Name: media_salario, dtype: int64

In [35]:
df['salarios'] =  hacer pd.cut