In [125]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import sidetable

pd.options.display.max_columns=None

In [126]:
df = pd.read_csv("../archivos_editados/df_data.csv",index_col=0)
df.shape

(3269, 22)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3269 entries, 16 to 25962
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   edad                   3269 non-null   object
 1   genero                 3269 non-null   object
 2   pais                   3269 non-null   object
 3   nivel_estudios         3269 non-null   object
 4   tipo_trabajo           3269 non-null   object
 5   tiempo_cod             3269 non-null   object
 6   len_recom              2993 non-null   object
 7   tiempo_use_ML          2905 non-null   object
 8   sector_empresa         3111 non-null   object
 9   tamaño_empresa         3092 non-null   object
 10  uso_ML                 3022 non-null   object
 11  salario                2924 non-null   object
 12  BBDD                   807 non-null    object
 13  herramientas_BI        1701 non-null   object
 14  herramienta_principal  2509 non-null   object
 15  lenguaje_cod           2994 non-null   object
 16  entorno_ID             2991 non-null   object
 17  librerias              2924 non-null   object
 18  librerias_ML           2289 non-null   object
 19  algoritmos_ML          2270 non-null   object
 20  actividades_trabajo    2971 non-null   object
 21  herramientas_BI2       606 non-null    object
dtypes: object(22)
memory usage: 587.4+ KB

In [128]:
descripcion_df = df.describe().T
descripcion_df

,count,unique,top,freq
edad,3269,11,25-29,788
genero,3269,5,Man,2538
pais,3269,66,India,795
nivel_estudios,3269,7,Master’s degree,1514
tipo_trabajo,3269,2,Data Analyst,2301
tiempo_cod,3269,7,1-3 years,991
len_recom,2993,13,Python,2195
tiempo_use_ML,2905,9,< 1 year,1155
sector_empresa,3111,18,Computers/Technology,550
tamaño_empresa,3092,5,0-49 employees,908
uso_ML,3022,6,No (we do not use ML methods),756
salario,2924,26,$0-999,679
BBDD,807,20,MySQL,206
herramientas_BI,1701,155,None,395
herramienta_principal,2509,6,"Basic statistical software (Microsoft Excel, G...",1117
lenguaje_cod,2994,250,"Python, SQL",622
entorno_ID,2991,474,Jupyter Notebook,377
librerias,2924,208,"Matplotlib ,Seaborn",602
librerias_ML,2289,370,Scikit-learn,419
algoritmos_ML,2270,266,"Linear or Logistic Regression, Decision Trees ...",307
actividades_trabajo,2971,73,Analyze and understand data to influence produ...,1117
herramientas_BI2,606,15,Microsoft Power BI,232

Obtenemos el total de nulos de nuestra columnas.

In [129]:
df_nulos = df.stb.missing()

In [130]:
df_nulos

                       missing  total    percent
herramientas_BI2          2663   3269  81.462221
BBDD                      2462   3269  75.313552
herramientas_BI           1568   3269  47.965739
algoritmos_ML              999   3269  30.559804
librerias_ML               980   3269  29.978587
herramienta_principal      760   3269  23.248700
tiempo_use_ML              364   3269  11.134904
librerias                  345   3269  10.553686
salario                    345   3269  10.553686
actividades_trabajo        298   3269   9.115938
entorno_ID                 278   3269   8.504130
len_recom                  276   3269   8.442949
lenguaje_cod               275   3269   8.412359
uso_ML                     247   3269   7.555827
tamaño_empresa             177   3269   5.414500
sector_empresa             158   3269   4.833282
genero                       0   3269   0.000000
tiempo_cod                   0   3269   0.000000
tipo_trabajo                 0   3269   0.000000
nivel_estudios               0   3269   0.000000
pais                         0   3269   0.000000
edad                         0   3269   0.000000

In [131]:
with pd.ExcelWriter("../archivos_editados/stats_basic.xlsx") as writer: 
    descripcion_df.to_excel(writer, sheet_name="descripcion")  
    df_nulos.to_excel(writer, sheet_name="nulos_col")

In [132]:
df.head(3)

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,1-2 years,Energy/Mining,"1000-9,999 employees",We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,I do not use machine learning methods,Manufacturing/Fabrication,250-999 employees,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-5 years,R,I do not use machine learning methods,Non-profit/Service,0-49 employees,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN

In [133]:
df["tiempo_cod"].unique()

array(['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years',
       'I have never written code', '10-20 years'], dtype=object)

In [134]:
condiciones1 = [(df['tiempo_cod'] == 'I have never written code'),
                (df['tiempo_cod'] == '< 1 years') | (df['tiempo_cod'] == '1-3 years'),
                (df['tiempo_cod'] == '3-5 years') | (df['tiempo_cod'] == '5-10 years'),
                (df['tiempo_cod'] == '10-20 years') | (df['tiempo_cod'] == '20+ years')]

In [135]:
opciones1 = ['0', '1-3', '3-10', "+10"]

In [136]:
df["tiempo_cod"] = np.select(condiciones1, opciones1)

In [137]:
df["tamaño_empresa"].unique()

array(['1000-9,999 employees', '250-999 employees', '0-49 employees',
       '50-249 employees', '10,000 or more employees', nan], dtype=object)

In [138]:
condiciones2 = [df['tamaño_empresa'] == '0-49 employees',
                df['tamaño_empresa'] == '50-249 employees',
                df['tamaño_empresa'] == '250-999 employees',
                (df['tamaño_empresa'] == '1000-9,999 employees') |(df['tamaño_empresa'] == '10,000 or more employees')]

opciones2 = ['Pequeña', 'Mediana', 'Grande', 'Enorme']

In [139]:
df["tamaño_empresa"] = np.select(condiciones2, opciones2, default = "Unkown")

In [140]:
df["salario"] = df["salario"].str.replace('$', '')
df["salario"] = df["salario"].str.replace('>', '')

/tmp/ipykernel_4554/142644937.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["salario"] = df["salario"].str.replace('$', '')

In [141]:
df['salario'].unique()

array(['2,000-2,999', nan, '7,500-9,999', '0-999', '25,000-29,999',
       '60,000-69,999', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '125,000-149,999', '5,000-7,499', '70,000-79,999', '10,000-14,999',
       '30,000-39,999', '15,000-19,999', '3,000-3,999', '4,000-4,999',
       '40,000-49,999', '200,000-249,999', '80,000-89,999',
       '50,000-59,999', '150,000-199,999', '90,000-99,999',
       '250,000-299,999', '1,000,000', '300,000-499,999',
       '500,000-999,999'], dtype=object)

In [142]:
df[['salario_minimo','salario_maximo']] = df['salario'].str.split('-', expand=True, n=1)

In [143]:
df["salario_minimo"] = df["salario_minimo"].str.replace(',', '')
df["salario_maximo"] = df["salario_maximo"].str.replace(',', '')

In [144]:
df["salario_maximo"].unique()

array(['2999', nan, '9999', '999', '29999', '69999', '24999', '1999',
       '124999', '149999', '7499', '79999', '14999', '39999', '19999',
       '3999', '4999', '49999', '249999', '89999', '59999', '199999',
       '99999', '299999', None, '499999', '999999'], dtype=object)

In [145]:
def limpieza (columna):
    try:
        return int(columna)
    except:
        return np.nan

In [146]:
df['salario_minimo'] = df['salario_minimo'].apply(limpieza)

In [147]:
df['salario_maximo'] = df['salario_maximo'].apply(limpieza)

In [148]:
df.head()

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2,salario_minimo,salario_maximo
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,+10,Python,1-2 years,Energy/Mining,Enorme,We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,2000.0,2999.0
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,1-3,R,I do not use machine learning methods,Manufacturing/Fabrication,Grande,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-10,R,I do not use machine learning methods,Non-profit/Service,Pequeña,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN,7500.0,9999.0
46,22-24,Man,China,Some college/university study without earning ...,Data Analyst,1-3,Python,1-2 years,Computers/Technology,Pequeña,No (we do not use ML methods),0-999,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,0.0,999.0
52,40-44,Man,South Africa,Master’s degree,Data Analyst,1-3,R,1-2 years,Manufacturing/Fabrication,Grande,No (we do not use ML methods),"25,000-29,999",NaN,Microsoft Power BI,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook","Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny","Caret ,Tidymodels","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,25000.0,29999.0

In [149]:
df['media_salario'] = (df['salario_minimo'] + df['salario_maximo']) / 2

In [150]:
df['media_salario'] = round(df['media_salario'], 2)

In [151]:
df.head()

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2,salario_minimo,salario_maximo,media_salario
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,+10,Python,1-2 years,Energy/Mining,Enorme,We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,2000.0,2999.0,2499.5
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,1-3,R,I do not use machine learning methods,Manufacturing/Fabrication,Grande,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-10,R,I do not use machine learning methods,Non-profit/Service,Pequeña,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN,7500.0,9999.0,8749.5
46,22-24,Man,China,Some college/university study without earning ...,Data Analyst,1-3,Python,1-2 years,Computers/Technology,Pequeña,No (we do not use ML methods),0-999,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,0.0,999.0,499.5
52,40-44,Man,South Africa,Master’s degree,Data Analyst,1-3,R,1-2 years,Manufacturing/Fabrication,Grande,No (we do not use ML methods),"25,000-29,999",NaN,Microsoft Power BI,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook","Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny","Caret ,Tidymodels","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,25000.0,29999.0,27499.5

In [152]:
df['salario_minimo'].unique()

array([   2000.,      nan,    7500.,       0.,   25000.,   60000.,
         20000.,    1000.,  100000.,  125000.,    5000.,   70000.,
         10000.,   30000.,   15000.,    3000.,    4000.,   40000.,
        200000.,   80000.,   50000.,  150000.,   90000.,  250000.,
       1000000.,  300000.,  500000.])

In [153]:
df['media_salario'].value_counts().reset_index()

       index  media_salario
0      499.5            679
1     1499.5            243
2    12499.5            207
3     6249.5            158
4     8749.5            140
5    34999.5            135
6    44999.5            125
7    54999.5            119
8     2499.5            117
9    17499.5            116
10   22499.5            113
11   64999.5            109
12  112499.5            108
13    4499.5            102
14   74999.5             92
15    3499.5             91
16   27499.5             83
17   84999.5             68
18   94999.5             46
19  137499.5             32
20  174999.5             17
21  224999.5              9
22  274999.5              5
23  399999.5              3
24  749999.5              1

In [154]:
df['media_salario'].value_counts().reset_index().sort_values(by = 'index', ascending= True )

       index  media_salario
0      499.5            679
1     1499.5            243
8     2499.5            117
15    3499.5             91
13    4499.5            102
3     6249.5            158
4     8749.5            140
2    12499.5            207
9    17499.5            116
10   22499.5            113
16   27499.5             83
5    34999.5            135
6    44999.5            125
7    54999.5            119
11   64999.5            109
14   74999.5             92
17   84999.5             68
18   94999.5             46
12  112499.5            108
19  137499.5             32
20  174999.5             17
21  224999.5              9
22  274999.5              5
23  399999.5              3
24  749999.5              1

In [155]:
df['salarios'] = pd.cut(x = df['media_salario'], bins= [0, 1500, 8750, 750000 ], labels = ['bajo', 'medio', 'alto'] )

In [156]:
df.head()

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2,salario_minimo,salario_maximo,media_salario,salarios
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,+10,Python,1-2 years,Energy/Mining,Enorme,We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,2000.0,2999.0,2499.5,medio
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,1-3,R,I do not use machine learning methods,Manufacturing/Fabrication,Grande,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-10,R,I do not use machine learning methods,Non-profit/Service,Pequeña,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN,7500.0,9999.0,8749.5,medio
46,22-24,Man,China,Some college/university study without earning ...,Data Analyst,1-3,Python,1-2 years,Computers/Technology,Pequeña,No (we do not use ML methods),0-999,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,0.0,999.0,499.5,bajo
52,40-44,Man,South Africa,Master’s degree,Data Analyst,1-3,R,1-2 years,Manufacturing/Fabrication,Grande,No (we do not use ML methods),"25,000-29,999",NaN,Microsoft Power BI,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook","Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny","Caret ,Tidymodels","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,25000.0,29999.0,27499.5,alto

In [157]:
df['edad'].unique()

array(['50-54', '22-24', '30-34', '40-44', '70+', '45-49', '18-21',
       '55-59', '25-29', '35-39', '60-69'], dtype=object)

In [158]:
df.to_csv('../archivos_editados/df_limpio.csv')