In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

pd.options.display.max_columns=None

In [2]:
df = pd.read_csv("../archivos_editados/df_data.csv",index_col=0)
df.shape

(3269, 22)

In [3]:
df.reset_index(drop= True, inplace= True)

In [4]:
df.head(3)

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,Salario,BBDD,herramientas_BI,herramienta_principal,Lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2
0,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,1-2 years,Energy/Mining,"1000-9,999 employees",We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN
1,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,I do not use machine learning methods,Manufacturing/Fabrication,250-999 employees,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN
2,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-5 years,R,I do not use machine learning methods,Non-profit/Service,0-49 employees,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN

In [5]:
df["tiempo_cod"].unique()

array(['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years',
       'I have never written code', '10-20 years'], dtype=object)

In [6]:
condiciones1 = [(df['tiempo_cod'] == 'I have never written code'),
                (df['tiempo_cod'] == '< 1 years') | (df['tiempo_cod'] == '1-3 years'),
                (df['tiempo_cod'] == '3-5 years') | (df['tiempo_cod'] == '5-10 years'),
                (df['tiempo_cod'] == '10-20 years') | (df['tiempo_cod'] == '20+ years')]

In [7]:
opciones1 = ['0', '1-3', '3-10', "+10"]

In [8]:
df["tiempo_cod"] = np.select(condiciones1, opciones1)

In [9]:
df.sample(3)

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,Salario,BBDD,herramientas_BI,herramienta_principal,Lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2
2990,30-34,Man,Brazil,Bachelor’s degree,Data Analyst,3-10,SQL,1-2 years,Retail/Sales,"1000-9,999 employees",No (we do not use ML methods),"20,000-24,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Visual Studio Code (VSCode) , Spyder,Jupyter N...","Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Xgboost ,Prophet","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN
2618,22-24,Man,India,Bachelor’s degree,Data Analyst,1-3,Python,< 1 year,Accounting/Finance,50-249 employees,We are exploring ML methods (and may one day p...,NaN,NaN,NaN,NaN,"Python, R, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Plotly / Plotly Express ,Ggplot /...","Scikit-learn , TensorFlow ,Xgboost","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN
553,45-49,Man,Italy,Bachelor’s degree,Business Analyst,3-10,Python,3-4 years,Energy/Mining,250-999 employees,No (we do not use ML methods),"60,000-69,999",NaN,NaN,NaN,Python,"Visual Studio Code (VSCode) ,Jupyter Notebook","Matplotlib ,Seaborn ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,Fast.ai ,Xgb...","Decision Trees or Random Forests, Gradient Bo...",None of these activities are an important par...,NaN

In [15]:
df["tamaño_empresa"].unique()

array(['Enorme', 'Grande', 'Pequeña', 'Mediana', '0'], dtype=object)

In [11]:
condiciones2 = [df['tamaño_empresa'] == '0-49 employees',
                df['tamaño_empresa'] == '50-249 employees',
                df['tamaño_empresa'] == '250-999 employees',
                (df['tamaño_empresa'] == '1000-9,999 employees') |(df['tamaño_empresa'] == '10,000 or more employees')]

opciones2 = ['Pequeña', 'Mediana', 'Grande', 'Enorme']

In [12]:
df["tamaño_empresa"] = np.select(condiciones2, opciones2)

In [13]:
df.iloc[346]

edad                                         25-29
genero                                         Man
pais                                        Russia
nivel_estudios                     Master’s degree
tipo_trabajo                          Data Analyst
tiempo_cod                                     1-3
len_recom                                   Python
tiempo_use_ML                            1-2 years
sector_empresa                                 NaN
tamaño_empresa                                   0
uso_ML                                         NaN
Salario                                        NaN
BBDD                                           NaN
herramientas_BI                                NaN
herramienta_principal                          NaN
Lenguaje_cod                           Python, SQL
entorno_ID               PyCharm ,Jupyter Notebook
librerias                     Matplotlib ,Seaborn
librerias_ML                         Scikit-learn
algoritmos_ML                                  NaN
actividades_trabajo                            NaN
herramientas_BI2                               NaN
Name: 346, dtype: object

In [14]:
df.sample(3)

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,Salario,BBDD,herramientas_BI,herramienta_principal,Lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2
2429,30-34,Woman,Colombia,Bachelor’s degree,Data Analyst,1-3,Python,< 1 year,Government/Public Service,Mediana,We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, Javascript","Visual Studio Code (VSCode) ,PyCharm , Notepad...","Matplotlib ,Seaborn ,Plotly / Plotly Express ...","Scikit-learn ,Keras","Decision Trees or Random Forests, Convolution...",Analyze and understand data to influence produ...,NaN
2911,25-29,Woman,United States of America,Doctoral degree,Data Analyst,3-10,Python,5-10 years,Insurance/Risk Assessment,Enorme,"We have well established ML methods (i.e., mod...","100,000-124,999",NaN,None,"Local development environments (RStudio, Jupyt...","Python, R","RStudio ,Visual Studio Code (VSCode) ,Jupyter ...","Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny","TensorFlow ,Xgboost","Decision Trees or Random Forests, Gradient Bo...",Analyze and understand data to influence produ...,NaN
2210,40-44,Prefer not to say,Taiwan,Master’s degree,Data Analyst,1-3,SQL,< 1 year,Hospitality/Entertainment/Sports,Pequeña,"We recently started using ML methods (i.e., mo...","10,000-14,999",MySQL,"Microsoft Power BI, Tableau","Basic statistical software (Microsoft Excel, G...","Python, R, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras","Linear or Logistic Regression, Dense Neural Ne...",Do research that advances the state of the ar...,Microsoft Power BI