In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

pd.options.display.max_columns=None

In [2]:
df = pd.read_csv("../archivos_editados/df_data.csv",index_col=0)
df.shape

(3269, 22)

In [3]:
df.reset_index(drop= True, inplace= True)

In [4]:
df.head(3)

,edad,genero,pais,nivel_estudios,tipo_trabajo,tiempo_cod,len_recom,tiempo_use_ML,sector_empresa,tamaño_empresa,uso_ML,salario,BBDD,herramientas_BI,herramienta_principal,lenguaje_cod,entorno_ID,librerias,librerias_ML,algoritmos_ML,actividades_trabajo,herramientas_BI2
0,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,1-2 years,Energy/Mining,"1000-9,999 employees",We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN
1,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,I do not use machine learning methods,Manufacturing/Fabrication,250-999 employees,NaN,NaN,NaN,NaN,NaN,R,RStudio,Ggplot / ggplot2,NaN,NaN,NaN,NaN
2,30-34,Woman,Egypt,Bachelor’s degree,Data Analyst,3-5 years,R,I do not use machine learning methods,Non-profit/Service,0-49 employees,No (we do not use ML methods),"7,500-9,999",NaN,None,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",None,NaN,NaN,Analyze and understand data to influence produ...,NaN

In [5]:
df["tiempo_cod"].unique()

array(['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years',
       'I have never written code', '10-20 years'], dtype=object)

In [6]:
condiciones1 = [(df['tiempo_cod'] == 'I have never written code'),
                (df['tiempo_cod'] == '< 1 years') | (df['tiempo_cod'] == '1-3 years'),
                (df['tiempo_cod'] == '3-5 years') | (df['tiempo_cod'] == '5-10 years'),
                (df['tiempo_cod'] == '10-20 years') | (df['tiempo_cod'] == '20+ years')]

In [7]:
opciones1 = ['0', '1-3', '3-10', "+10"]

In [8]:
df["tiempo_cod"] = np.select(condiciones1, opciones1)

In [9]:
df["tamaño_empresa"].unique()

array(['1000-9,999 employees', '250-999 employees', '0-49 employees',
       '50-249 employees', '10,000 or more employees', nan], dtype=object)

In [10]:
condiciones2 = [df['tamaño_empresa'] == '0-49 employees',
                df['tamaño_empresa'] == '50-249 employees',
                df['tamaño_empresa'] == '250-999 employees',
                (df['tamaño_empresa'] == '1000-9,999 employees') |(df['tamaño_empresa'] == '10,000 or more employees')]

opciones2 = ['Pequeña', 'Mediana', 'Grande', 'Enorme']

In [11]:
df["tamaño_empresa"] = np.select(condiciones2, opciones2, default = "Unkown")

In [13]:
df["salario"].unique()

array(['2,000-2,999', nan, '7,500-9,999', '$0-999', '25,000-29,999',
       '60,000-69,999', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '125,000-149,999', '5,000-7,499', '70,000-79,999', '10,000-14,999',
       '30,000-39,999', '15,000-19,999', '3,000-3,999', '4,000-4,999',
       '40,000-49,999', '200,000-249,999', '80,000-89,999',
       '50,000-59,999', '150,000-199,999', '90,000-99,999',
       '250,000-299,999', '>$1,000,000', '300,000-499,999',
       '$500,000-999,999'], dtype=object)