In [1]:
import pandas as pd

In [3]:
df_txt = pd.read_csv("../archivos_originales/_data_txt_clean.txt", sep = ";")

In [4]:
df_txt.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [6]:
df_txt["Q5"].unique()

array(['Other', 'Program/Project Manager', 'Software Engineer',
       'Research Scientist', 'Currently not employed', 'Student',
       'Data Scientist', 'Data Analyst', 'Machine Learning Engineer',
       'Business Analyst', 'Data Engineer', 'Product Manager',
       'Statistician', 'Developer Relations/Advocacy',
       'DBA/Database Engineer'], dtype=object)

In [ ]:
def propiedades(df):
    print(df.shape)
    print(".................")
    display(df.head())
    print("................")
    display(df.tail())
    print(".........................")
    print(df.sample(2))
    print(".,,,,,,,,,,,,,,.")
    print(df.columns)
    print(";;;;;;;;;;")
    print(df.describe())
    print("....................................................")
    df.info()
    print("....................................................")
    porcentaje_nulos = (df.isnull().sum()*100) / df.shape[0]
    print(f"EL PORCENTAJE DE NULOS ES......{porcentaje_nulos}")
    for columna in df.columns:
        valores_unicos =  df[columna].unique()
        if len(valores_unicos) < 6:
            
            print(columna)
            print(valores_unicos)

In [ ]:
propiedades(df_txt)

(25973, 27)
.................

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

................

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
25968,25968,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,A laptop,Never,1-2 years,Computers/Technology,...,"Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Gradient Boosti...",Analyze and understand data to influence produ...,"PostgreSQL , SQLite , MongoDB , Microsoft SQL...",Microsoft Power BI
25969,25969,China,Master’s degree,Student,1-3 years,Python,A personal computer / desktop,More than 25 times,1-2 years,NaN,...,NaN,Python,PyCharm,None,None,PyTorch,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN
25970,25970,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,NaN,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,None of these activities are an important par...,NaN,NaN
25971,25971,United States of America,Master’s degree,Data Scientist,5-10 years,Python,A laptop,2-5 times,4-5 years,Online Service/Internet-based Services,...,NaN,"Python, SQL","Notepad++,Jupyter Notebook",None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN
25972,25972,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,NaN,Other,...,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN

.........................
       index     Q3                 Q4             Q5         Q6      Q8  \
12054  12054  China    Doctoral degree   Data Analyst  1-3 years  Python
20308  20308  India  Bachelor’s degree  Data Engineer  1-3 years  Python

            Q11    Q13                                    Q15  \
12054  A laptop  Never  I do not use machine learning methods
20308  A laptop  Never                               < 1 year

                          Q20  ...  Q41                               Q7  \
12054  Medical/Pharmaceutical  ...  NaN                        Python, R
20308     Academics/Education  ...  NaN  Python, SQL, C, C++, Javascript

                                                  Q9            Q12  \
12054                      RStudio ,Jupyter Notebook   NVIDIA GPUs
20308  Visual Studio Code (VSCode) ,Jupyter Notebook           None

                                                  Q14  \
12054                               Ggplot / ggplot2
20308   Matplotlib ,Seaborn ,Plotly / Plotly Express

                                 Q16                            Q17  \
12054                            NaN                            NaN
20308  Scikit-learn ,Keras ,PyTorch   Linear or Logistic Regression

                                                     Q24  Q32  Q34
12054   Experimentation and iteration to improve exis...  NaN  NaN
20308  Analyze and understand data to influence produ...  NaN  NaN

[2 rows x 27 columns]
.,,,,,,,,,,,,,,.
Index(['index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20',
       'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9',
       'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')
;;;;;;;;;;
              index
count  25973.000000
mean   12986.000000
std     7497.903607
min        0.000000
25%     6493.000000
50%    12986.000000
75%    19479.000000
max    25972.000000
....................................................
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   25973 non-null  int64
 1   Q3      25973 non-null  object
 2   Q4      25973 non-null  object
 3   Q5      25973 non-null  object
 4   Q6      25973 non-null  object
 5   Q8      24940 non-null  object
 6   Q11     24720 non-null  object
 7   Q13     24403 non-null  object
 8   Q15     23754 non-null  object
 9   Q20     16325 non-null  object
 10  Q21     16251 non-null  object
 11  Q22     16126 non-null  object
 12  Q23     15952 non-null  object
 13  Q25     15391 non-null  object
 14  Q26     15183 non-null  object
 15  Q33     4656 non-null   object
 16  Q35     2237 non-null   object
 17  Q41     18489 non-null  object
 18  Q7      24941 non-null  object
 19  Q9      24934 non-null  object
 20  Q12     24582 non-null  object
 21  Q14     23970 non-null  object
 22  Q16     19624 non-null  object
 23  Q17     19315 non-null  object
 24  Q24     15635 non-null  object
 25  Q32     9484 non-null   object
 26  Q34     9399 non-null   object
dtypes: int64(1), object(26)
memory usage: 5.4+ MB
....................................................
EL PORCENTAJE DE NULOS ES......index     0.000000
Q3        0.000000
Q4        0.000000
Q5        0.000000
Q6        0.000000
Q8        3.977207
Q11       4.824241
Q13       6.044739
Q15       8.543487
Q20      37.146267
Q21      37.431179
Q22      37.912448
Q23      38.582374
Q25      40.742309
Q26      41.543141
Q33      82.073692
Q35      91.387210
Q41      28.814538
Q7        3.973357
Q9        4.000308
Q12       5.355562
Q14       7.711855
Q16      24.444616
Q17      25.634313
Q24      39.802872
Q32      63.485158
Q34      63.812421
dtype: float64