In [2]:
import pandas as pd
import numpy as np

In [6]:
pd.options.display.max_columns=None

In [14]:
df = pd.read_csv("../archivos_editados/df_completo.csv")
df.shape

(25973, 72)

In [13]:
df_data = df[(df["Q5"] == "Business Analyst") | (df ["Q5"] == "Data Analyst")]
df_data

,index,Q3,Q4,Q5,Q6,Q8,Q15,Q20,Q21,Q23,Q25,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q34,age,gender,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER
16,16,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,1-2 years,Energy/Mining,"1000-9,999 employees",We are exploring ML methods (and may one day p...,"2,000-2,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",None,"Matplotlib ,Seaborn ,Plotly / Plotly Express",Scikit-learn,Linear or Logistic Regression,Analyze and understand data to influence produ...,NaN,50-54,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure SQL Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,Google Data Studio,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Synapse,NaN,NaN,NaN
32,32,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,I do not use machine learning methods,Manufacturing/Fabrication,250-999 employees,NaN,NaN,NaN,NaN,NaN,R,RStudio,NVIDIA GPUs,Ggplot / ggplot2,NaN,NaN,NaN,NaN,22-24,Nonbinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,Egypt,Bachelor’s degree,Data Analyst,3-5 years,R,I do not use machine learning methods,Non-profit/Service,0-49 employees,No (we do not use ML methods),"7,500-9,999",NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",Other,None,NaN,NaN,Analyze and understand data to influence produ...,None,30-34,Woman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,MySQL,NaN,SQLite,NaN,MongoDB,NaN,NaN,Microsoft SQL Server,Microsoft Azure SQL Database,Microsoft Azure Cosmos DB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,Google Data Studio,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,China,Some college/university study without earning ...,Data Analyst,< 1 years,Python,1-2 years,Computers/Technology,0-49 employees,No (we do not use ML methods),$0-999,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras ,PyTorch","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,22-24,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IBM Db2,NaN,Microsoft Azure SQL Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Firestore,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAP Analytics Cloud,Microsoft Azure Synapse,NaN,NaN,NaN
52,52,South Africa,Master’s degree,Data Analyst,1-3 years,R,1-2 years,Manufacturing/Fabrication,250-999 employees,No (we do not use ML methods),"25,000-29,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook",None,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny","Caret ,Tidymodels","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,Microsoft Power BI,40-44,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25959,25959,India,Bachelor’s degree,Data Analyst,1-3 years,Python,< 1 year,Academics/Education,0-49 employees,We are exploring ML methods (and may one day p...,$0-999,NaN,NaN,"Business intelligence software (Salesforce, Ta...","Python, SQL","Visual Studio ,Visual Studio Code (VSCode) ,Ju...",Google Cloud TPUs,"Matplotlib ,Seaborn , Other","TensorFlow ,PyTorch ,PyTorch Lightning","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,NaN,18-21,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oracle Database,NaN,NaN,IBM Db2,NaN,Microsoft Azure SQL Database,Microsoft Azure Cosmos DB,NaN,NaN,Amazon DynamoDB,Amazon RDS,NaN,Google Cloud SQL,NaN,Google Cloud BigTable,NaN,NaN,NaN,NaN,Amazon QuickSight,Google Data Studio,NaN,Tableau,NaN,Tableau CRM,Qlik,NaN,NaN,NaN,NaN,SAP Analytics Cloud,Microsoft Azure Synapse,NaN,NaN,NaN
25965,25965,India,Master’s degree,Data Analyst,1-3 years,Python,2-3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, SQL, C","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","NVIDIA GPUs ,Google Cloud TPUs","Matplotlib ,Seaborn ,Plotly / Plotly Express","Scikit-learn , TensorFlow ,Keras","Linear or Logistic Regression, Decision Trees ...",NaN,NaN,18-21,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,25966,India,Bachelor’s degree,Data Analyst,1-3 years,Python,1-2 years,Manufacturing/Fabrication,"10,000 or more employees","We have well established ML methods (i.e., mod...","3,000-3,999",NaN,NaN,NaN,"Python, C","PyCharm ,Jupyter Notebook","NVIDIA GPUs ,Google Cloud TPUs","Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn , TensorFlow ,Keras ,MXNet ,Xgboost","Linear or Logistic Regression, Decision Trees ...",Experimentation and iteration to improve exis...,NaN,30-34,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,25968,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,1-2 years,Computers/Technology,"10,000 or more employees",We are exploring ML methods (and may one day p...,"15,000-19,999",MongoDB,NaN,"Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Gradient Boosti...",Analyze and understand data to influence produ...,Microsoft Power BI,30-34,Man,NaN,NaN,NaN,GitHub,NaN,NaN,Colab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,25972,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,Other,0-49 employees,I do not know,$0-999,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,18-21,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [22]:
df_lenguaje= df_data.groupby("Q7")["Q3"].count()
df_lenguaje

Q7
 Bash                          2
 C                             4
 C++                           6
 C++, Java                     1
 C++, Java, Javascript         1
                              ..
Python, SQL, Julia             1
Python, SQL, MATLAB           29
Python, SQL, MATLAB, Other     3
Python, SQL, Other            62
Python, Swift                  1
Name: Q3, Length: 250, dtype: int64

In [26]:
df_data["Q6"].unique()

array(['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years',
       'I have never written code', '10-20 years'], dtype=object)

In [ ]:
df_data["experiencia"]=pd.cut(x = df_data ["Q6"], bins=())